.site-main {
    &.in-front-page {
        .post-thumbnail {
            position: relative;
            display: block;
            overflow: hidden;

            .attachment-post-thumbnail {
                display: block;
                width: 100%;
                height: auto;
                object-fit: cover;
                transition: $transition-master;
            }

            &:hover {
                .attachment-post-thumbnail {
                    transform: scale(1.05);
                }
            }
        }
    }
    
    &.in-archive-page {
        .post-thumbnail {
            position: relative;
            display: block;
            overflow: hidden;

            .attachment-post-thumbnail {
                display: block;
                width: 100%;
                height: auto;
                object-fit: cover;
                transition: $transition-master;
            }

            &:hover {
                .attachment-post-thumbnail {
                    transform: scale(1.05);
                }
            }
        }
    }
}   