h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: $font__heading;
	font-weight: $font__weight-bold;
}

h1 {
	// font-size: 2rem;
	font-size: 1.5rem;
	// padding: 2rem 0;
	line-height: 2.0rem;
}

h2 {
	font-size: 1.5rem;
	padding: 1.5rem 0;
}

h3 {
	font-size: 1.25rem;
	padding: 1.25rem 0;
}

h4 {
	font-size: 1.125rem;
	padding: 1.125rem 0;
}

.section-title {
	font-family: $font__heading__menu;
	font-size: 1.75rem;
	display: inline-block;
	position: relative;
}

.fade-effect-heading {
	transition: $transition-master;
	display: inline-block;
	position: relative;

	&::after {
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		left: 100%;
		transform: translateY(-50%);
		width: 0;
		height: 1px;
		background-color: $color__text-main;
		margin-left: 12px;
	}

	&.effect-active::after {
		animation: expandBorder 3s cubic-bezier(0.19, 1, 0.22, 1) forwards;
		// width: 128px;
	}

	@keyframes expandBorder {
		from {
			width: 0;
		}

		to {
			width: 128px;
		}
	}
}