h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: $font__heading;
	font-weight: $font__weight-bold;
}

h2 {
	font-size: 1.5rem;
	padding: 1.5rem 0;
}

h3 {
	font-size: 1.25rem;
	padding: 1.25rem 0;
}

h4 {
	font-size: 1.125rem;
	padding: 1.125rem 0;
}
