.site-header {
    position: sticky;
    position: -webkit-sticky;
    // position: fixed;
    z-index: 1000;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    // border-bottom: 1px solid $color__background-hr;

    height: $size__header-height-sp;
    @include responsive(tb) { height: $size__header-height-tb; }
    @include responsive(pc) { height: $size__header-height-pc; }

    // background-color: $color__background-body;
    background-color: #ffffffe6;
    // opacity: .8;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    
    .site-branding {
        display: flex;
        // height: inherit;
        margin: 0 24px;
        // align-items: left;
        justify-content: left;
        // flex-wrap: nowrap;
        // width: 512px;
        // height: 32px;
        // width: 256px;

        h1 {margin: 0; padding: 0; display: none;}
        p {margin: 0; padding: 0; display: none;}

        font-family: $font__heading__menu;
        font-size: 1.5rem;
        letter-spacing: .5rem;
        // text-indent: .5rem;
        &:hover {
            letter-spacing: .35rem;
            text-indent: .5rem;
        }
    }
}