.site-header {
    position: sticky;
    position: -webkit-sticky;
    // position: fixed;
    z-index: 1000;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: $size__header-height-sp;
    @include responsive(tb) { height: $size__header-height-tb; }
    @include responsive(pc) { height: $size__header-height-pc; }

    background-color: $color__background-body;
    
    .site-branding {
        display: flex;
        height: inherit;
        margin: 0 24px;
        align-items: center;
        justify-content: center;
        width: 128px;
        // height: 32px;
        // width: auto;

        h1 {margin: 0; padding: 0; display: none;}
        p {margin: 0; padding: 0; display: none;}
    }
}