.swiper-primary {
    background-color: gray;
    // width: calc(100vw - 32px);
    width: 100vw;
    height: calc(100vh -  $size__header-height-sp -  $size__header-height-sp);
    // margin: 16px;
    margin: 0;
    // margin-top: 16px;
  
    @include responsive(tb) {
      // height: calc(100vh - 32px - $size__header-height-tb);
      height: calc(100vh - 64px - $size__header-height-tb - $size__header-height-tb);
    }
  
    @include responsive(pc) {
      height: calc(100vh - 64px - $size__header-height-pc - $size__header-height-pc);
    }
  
    .swiper-wrapper {
      transition: $transition-master;
      height: 100%;
  
      .swiper-slide {
        position: relative;
        width: 100%;
        height: 100%;
  
        .slide-image-wrapper {
          position: relative;
          width: 100%;
          height: 100%;

  
          .slide-image {
            //position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            overflow: hidden;
            //z-index: 128;
          }
  
          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            background-image: radial-gradient(#111 30%, transparent 31%), radial-gradient(#111 30%, transparent 31%);
            background-size: 4px 4px;
            background-position: 0 0, 2px 2px;
            z-index: 2;
            pointer-events: none;;
          }
        }
  
        .slide-content {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 1rem;
          z-index: 256;

          width: calc(100vw - 32px - 96px);

          .slide-category {
            margin: 0;
            padding: 0;
            color: $color__text-main-inv;
            font-size: 1rem;
            text-align: left;

            a {
              color: $color__text-main-inv;
            }

            // &:hover {
            //   // background-color: $color__text-main-inv;
            //   color: $color__text-main;
            //     a {
            //         color: $color__text-main;
            //     }
            // }
          }
  
          .slide-title {
            margin: 0;
            padding: 0;
            color: $color__text-main-inv;
            font-size: 1.5rem;
            text-align: left;
            width: 100%;
          }

          .slide-read-more {
            position: relative;
            margin: 0;
            padding: 0.5rem 1rem;
            color: $color__text-main-inv;
            font-size: 1rem;
            font-weight: $font__weight-bold;
            text-align: left;
            background-color: transparent;
            border: 1px solid $color__text-main-inv;
            border-radius: 2rem;
            width: auto;
          
            transition: $transition-master;

            &:hover {
              background-color: $color__text-main-inv;
              color: $color__text-main;
            }
          }
  
        //   .slide-read-more {
        //     position: relative;
        //     margin: 0;
        //     padding: 0.5rem 1rem;
        //     color: $color__text-main-inv;
        //     font-size: 1rem;
        //     font-weight: $font__weight-bold;
        //     text-align: left;
        //     background-color: transparent;
        //     border: 1px solid $color__text-main-inv;
        //     border-radius: 2rem;
        //     width: auto;

        //     &:hover {
        //       background-color: $color__text-main-inv;
        //       color: $color__text-main;
        //     }
        //   }
        }
      }
    }
}

.swiper-button-next {
  transition: $transition-master;
  color: $color__text-main-inv;

  &::after {
    font-family: $font__main;
    content: '≫';
  }

  &:hover {
    transform: translateX(4px);
  }
}

.swiper-button-prev {
  transition: $transition-master;
  color: $color__text-main-inv;

  &::after {
    font-family: $font__main;
    content: '≪';
  }

  &:hover {
    transform: translateX(-4px);
  }
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  // background: var(--swiper-pagination-color, var(--swiper-theme-color));
  background: $color__text-main-inv;
}