.main-navigation {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	// font-weight: $font__weight-bold;
	font-weight: $font__weight-reguler;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}

	li {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	button {
		background: none;
		border: 0;
		color: inherit;
		font: inherit;
		margin: 0 16px;
		padding: 0;
	}

	#header-menu-sp-wrapper { display: block; }
	#header-menu-pc-wrapper { display: none; } 
	.menu-toggle { display: block; }
    @include responsive(tb) { 
        #header-menu-sp-wrapper { display: block; }
        #header-menu-pc-wrapper { display: none; }
		.menu-toggle { display: block; } 
    }
    @include responsive(pc) { 
        #header-menu-sp-wrapper { display: none; } 
        #header-menu-pc-wrapper { display: block; } 
		.menu-toggle { display: none; } 
    }

    #header-menu-pc-wrapper {
        ul {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            list-style: none;
			gap: 16px;
            padding: 0;
            margin: 0 24px ;
        }
    }

	// .menu-toggle {
	// 	z-index: 99999;
	// }

	#header-menu-sp-wrapper {
		position: fixed; 
		top: $size__header-height-sp;
		@include responsive(tb) { top: $size__header-height-tb; }
		@include responsive(pc) { top: $size__header-height-pc; }
		
		right: -100%;
		height: 100vh;
		width: min(100vw, $size__mobile-menu-width-max);
		background-color: $color__background-body;
		transition: right 0.8s cubic-bezier(0.8, 0, 0.175, 1);
		z-index: 9999;
		padding: 0 1rem;

		overflow: scroll;

		h4.header-sp-title {
			text-align: left;
			border-bottom: 1px solid $color__text-main;
			padding-bottom: 0;
			width: 0;
			margin-bottom: 1rem;
			
			// animation: borderExpand 10.0s cubic-bezier(0.8, 0, 0.175, 1) forwards;

			// @keyframes borderExpand {
			// 	from {
			// 		width: 0;
			// 	}
			// 	to {
			// 		width: 100%;
			// 	}
			// }
		}

	
		ul {
			display: flex;
			flex-direction: column;
			padding: 0px 1rem;
			//gap: 8px;

			li {
				border-bottom: 1px solid $color__text-main;
				margin-bottom: 1rem;
			}
		}
	}

	.menu-toggle {
		width: 22px;
		height: 16px;
		position: relative;
		cursor: pointer;
		// display: block;
	
		span {
			position: absolute;
			height: 2px;
			width: 100%;
			background: $color__text-main;
			left: 0;
			transition: $transition-master;
	
			&:nth-child(1) {
				top: 0;
			}
			&:nth-child(2) {
				top: 8px;
				width: 80%;
			}
			&:nth-child(3) {
				top: 16px;
			}
		}
	
		// トグル時のアニメーション
		// .toggled & span:nth-child(1) {
		// 	transform: rotate(45deg);
		// 	top: 11px;
		// }
		// .toggled & span:nth-child(2) {
		// 	opacity: 0;
		// }
		// .toggled & span:nth-child(3) {
		// 	transform: rotate(-45deg);
		// 	top: 11px;
		// }
	}

	&::before {
		content: '';
		position: fixed;
		top: $size__header-height-sp;
		height: calc(100vh - $size__header-height-sp);
		@include responsive(tb) { 
			top: $size__header-height-tb; 
			height: calc(100vh - $size__header-height-tb);
		}
		@include responsive(pc) { 
			top: $size__header-height-pc; 
			height: calc(100vh - $size__header-height-pc);
		}

		left: 0;
		width: 100vw;
		background: rgba(0, 0, 0, 0.9);
		z-index: 9998;
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.75s cubic-bezier(0.8, 0, 0.175, 1);
	}

	&.toggled {
		#header-menu-sp-wrapper {
			right: 0;
		}

		.menu-toggle {
			& span:nth-child(1) {
				transform: rotate(45deg);
				top: 11px;
			}
			& span:nth-child(2) {
				opacity: 0;
			}
			& span:nth-child(3) {
				transform: rotate(-45deg);
				top: 11px;
			}
		}
	
		// Add Overlay
		&::before {
			opacity: 1;
			pointer-events: auto;
		}
	}


	// 	ul {
	// 		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	// 		float: left;
	// 		position: absolute;
	// 		top: 100%;
	// 		left: -999em;
	// 		z-index: 99999;

	// 		ul {
	// 			left: -999em;
	// 			top: 0;
	// 		}

	// 		li {

	// 			&:hover > ul,
	// 			&.focus > ul {
	// 				display: block;
	// 				left: auto;
	// 			}
	// 		}

	// 		a {
	// 			width: 200px;
	// 		}

	// 		:hover > a,
	// 		.focus > a {
	// 		}

	// 		a:hover,
	// 		a.focus {
	// 		}
	// 	}

	// 	li:hover > ul,
	// 	li.focus > ul {
	// 		left: auto;
	// 	}
	// }

	// li {
	// 	position: relative;

	// 	&:hover > a,
	// 	&.focus > a {
	// 	}
	// }

	// a {
	// 	display: block;
	// 	text-decoration: none;
	// }

	// .current_page_item > a,
	// .current-menu-item > a,
	// .current_page_ancestor > a,
	// .current-menu-ancestor > a {
	// }
}

/* Small menu. */
// .menu-toggle,
// .main-navigation.toggled ul {
// 	display: block;
// }

// @media screen and (min-width: 37.5em) {

// 	.menu-toggle {
// 		display: none;
// 	}

// 	.main-navigation ul {
// 		display: flex;
// 	}
// }

// @include responsive(tb) {
// 	.menu-toggle { display: block; }
// 	//.main-navigation ul { display: none; }
// }

// @include responsive(pc) {
// 	.menu-toggle { display: none; }
// 	//.main-navigation ul { display: flex; }
// }

// .comment-navigation,
// .posts-navigation,
// .post-navigation {

// 	.site-main & {
// 		margin: 0 0 1.5em;
// 	}

// 	.nav-links {
// 		display: flex;
// 	}

// 	.nav-previous {
// 		flex: 1 0 50%;
// 	}

// 	.nav-next {
// 		text-align: end;
// 		flex: 1 0 50%;
// 	}
// }
