body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
}

html {
	font-size: 16px;
	// @include responsive(tb) { font-size: 16px; }
	// @include responsive(pc) { font-size: 16px; }
}