// .site {
// 	// display: grid;
// 	// grid-template-columns: auto ($size__site-sidebar);
// 	// grid-template-areas:
// 	// 	"header header"
// 	// 	"main sidebar"
// 	// 	"footer footer";
// }

.site-header {
	grid-area: header;
}

.site-main {
	grid-area: main;
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
}

.widget-area {
	grid-area: sidebar;
}

.site-footer {
	grid-area: footer;
}

@import "no-sidebar";

#contents-wrapper {
	margin: 0 auto;
	//width: min(100vw, $size__global-width-max-pc);
	//max-width: $size__global-width-max-pc;

	padding: 0 $size__side-margin;
	//max-width: 100%;
	@include responsive(tb) { max-width: $size__global-width-max-tb; }
	@include responsive(pc) { max-width: $size__global-width-max-pc; }

	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:
		"header"
		"main"
		"sidebar"
		"footer";

	justify-items: center;

	@include responsive(pc) {
		grid-template-columns: auto; 
		grid-template-areas:
			"header header"
			"main sidebar"
			"footer footer";
		column-gap: $size__grid-gap;
		//grid-template-columns: 1fr ;
	}
	// grid-template-columns: auto ($size__site-sidebar);
	// grid-template-areas:
	// 	"header header"
	// 	"main sidebar"
	// 	"footer footer";	

	#primary {
		display: block;
		//display: grid;
		gap: $size__grid-gap;
		grid-template-columns: 1fr;

		max-width: calc(100vw - 64px);
		margin: 0 auto;

		&.in-front-page,
		&.in-archive-page {
			@include responsive(tb) { 
				display: grid;
				grid-template-columns: repeat(2, minmax(0, $size__grid-article-width-tb-max));
			}
			@include responsive(pc) { 
				display: grid;
				grid-template-columns: repeat(2, minmax(0, $size__grid-article-width-pc-max));
			}
		}

		article {
			margin: 0;
			padding: 0;

			.entry-categories {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: row;
				gap: 8px;
				margin: 0;
				padding: .75rem 0;
				font-size: .75rem;

				a {
					color: $color__text-sub;
				}
			}

			.entry-tags {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: row;
				gap: 4px;
				margin: 0;
				padding: 12px 0;
				font-size: .75rem;

				a {
					color: $color__text-sub;
				}
			}

			.entry-header {
				margin: 0;
				padding: 0;

				h1.entry-title {
					margin: 0;
					padding: 0;
					text-align: center;
					
					font-size: 1.5rem;
					font-weight: $font__weight-bold;
					//padding-bottom: 2rem;
					// display: -webkit-box;
					// -webkit-line-clamp: 3;
					// -webkit-box-orient: vertical;
					// overflow: hidden;
				}

				h2.entry-title {
					margin: 0;
					padding: 0;
					text-align: center;
					a {
						font-size: 1.25rem;
						font-weight: $font__weight-bold;
						display: -webkit-box;
						-webkit-line-clamp: 3;
						-webkit-box-orient: vertical;
						overflow: hidden;
					}
				}

				.entry-meta {
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: row;
					gap: 8px;
					margin: 0;
					padding: .75rem 0;

					font-size: .75rem;
					font-weight: 300;

					.entry-date {
						color: $color__text-sub;
					}

				}
			}
		}

		.posts-navigation {
			display: block;
			width: 100%;
		}
	}

	#secondary {
		width: 100%;//$size__site-sidebar;
		//@include responsive(tb) { width: $size__site-sidebar; }
		@include responsive(pc) { width: $size__site-sidebar; }
		//max-width: calc(100vw - 64px);;
		display: flex;
		flex-direction: column;

		.widget-title {
			text-align: center;
		}

		.post-wrapper {
			display: grid;
			grid-template-columns: 128px 1fr;
			grid-template-areas:
				"post_left post_right";
			gap: 16px;

			.post-thumbnail {
				grid-area: post_left;
				width: 128px;
				height: 128px;

				.wp-post-image {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.entry-header {
				grid-area: post_right;

				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				flex-wrap: wrap;
				align-content: flex-start;

				.entry-title {
					margin: 0;
					padding: 0;
					font-size: 1.25rem;
					line-height: 1.25rem;
					font-weight: $font__weight-bold;
					display: -webkit-box;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
					overflow: hidden;
				}

				.entry-meta {
					font-size: .75rem;
					font-weight: 300;
				}

				.entry-tags {
					font-size: .75rem;
					font-weight: 300;
				}
			}

		}
	}

}

