// .site {
// 	// display: grid;
// 	// grid-template-columns: auto ($size__site-sidebar);
// 	// grid-template-areas:
// 	// 	"header header"
// 	// 	"main sidebar"
// 	// 	"footer footer";
// }

.site-header {
	grid-area: header;
}

.site-main {
	grid-area: main;
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
}

.widget-area {
	grid-area: sidebar;
}

.site-footer {
	grid-area: footer;
}

@import "no-sidebar";

#contents-wrapper {
	margin: 0 auto;
	width: min(100vw, $size__global-width-max-sp);
	padding: 0 $size__side-margin;

	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	grid-template-areas:
		"header"
		"main"
		"sidebar"
		"footer";
	// grid-template-columns: auto ($size__site-sidebar);
	// grid-template-areas:
	// 	"header header"
	// 	"main sidebar"
	// 	"footer footer";	

	#primary {
		display: grid;
	}

	#secondary {
		display: flex;
		flex-direction: column;
	}

}

