.no-sidebar {

	.site {
		display: grid;
		grid-template-columns: auto;
		grid-template-areas:
			"header"
			"main"
			"footer";
	}
}

.site {
	display: grid;
	grid-template-columns: auto;
	grid-template-areas:
		"header"
		"main"
		"footer";
}


.section-divider {
	margin-top: 3em;
}

#contents-wrapper {
	margin: 0 auto;

	.page-header {
		h1.page-title {
			font-size: 1.5rem;
			text-align: center;
		}

		.archive-description {
			font-size: 1rem;
			text-align: center;
		}
	}

	#primary {
		display: block;
		max-width: $size__front-contents-width-max-pc;
		padding: 2rem;

		&.is-single-page {
			max-width: 756px;

			.entry-title {
				// font-size: 2rem;
				text-align: center;
			}

			.entry-categories {
				text-align: center;
			}

			.entry-meta {
				text-align: center;
			}
		}

		&.is-archive-page {
			max-width: 1024px;
		}

		.article-card {
			display: block;
			margin: 0;
			padding: 0;
			width: 100%;

			// background-color: rebeccapurple;
			.article-meta {
				.article-category {
					margin: 0;
					padding: 0;
					// color: $color__text-sub;
					font-size: 0.875rem;
					text-align: left;
					width: 100%;
					// a {
					// 	color: $color__text-sub;
					// }
				}

				.article-tags {
					margin: 0;
					padding: 0;
					// color: $color__text-sub;
					font-size: 0.875rem;
					text-align: left;
					width: 100%;
					// a {
					// 	color: $color__text-sub;
					// }
				}

				.article-title {
					margin: 0;
					padding: 0;
					color: $color__text-main;
					font-size: 1.125rem;
					text-align: left;
					width: 100%;

					display: -webkit-box;
					-webkit-line-clamp: 3;
					line-clamp: 3;
					-webkit-box-orient: vertical;
					overflow: hidden;
				}

				.article-date {
					margin: 0;
					padding: 0;
					color: $color__text-sub;
					font-size: 0.875rem;
					text-align: right;
					width: 100%;
				}
			}
		}

		.article-card-sub {
			display: grid;
			grid-template-columns: 3fr 1fr;
			align-items: center;
			gap: 1rem;

			// background-color: rebeccapurple;

			.article-thumbnail-link {
				display: block;
				width: 100%;
				// background-color: rebeccapurple;
				height: 100%;

				.article-thumbnail {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.article-meta {
				.article-category {
					margin: 0;
					padding: 0;
					// color: $color__text-sub;
					font-size: 0.875rem;
					text-align: left;
					width: 100%;
					// a {
					// 	color: $color__text-sub;
					// }
				}

				.article-tags {
					margin: 0;
					padding: 0;
					// color: $color__text-sub;
					font-size: 0.875rem;
					text-align: left;
					width: 100%;
					// a {
					// 	color: $color__text-sub;
					// }
				}

				.article-title {
					margin: 0;
					padding: 0;
					color: $color__text-main;
					font-size: 1.125rem;
					text-align: left;
					width: 100%;

					display: -webkit-box;
					-webkit-line-clamp: 3;
					line-clamp: 3;
					-webkit-box-orient: vertical;
					overflow: hidden;
				}

				.article-date {
					margin: 0;
					padding: 0;
					color: $color__text-sub;
					font-size: 0.875rem;
					text-align: right;
					width: 100%;
				}
			}
		}

		#latest-contents-wrapper,
		#related-contents-wrapper,
		#category-contents-wrapper,
		.categories-contents-wrapper {
			.article-grid {
				display: grid;
				grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
				gap: 2rem;
				margin: 0;
				padding: 0;

			}
			.view-all-posts-wrapper {
				text-align: center;
				margin-top: 2rem;
				.view-all-posts-button {

					position: relative;
					padding: 0.5rem 1rem;
					color: $color__text-main;
					font-size: 1rem;
					font-weight: $font__weight-bold;
					text-align: left;
					background-color: transparent;
					border: 1px solid $color__text-main;
					border-radius: 2rem;
					width: auto;
				
					transition: $transition-master;

					&:hover {
						background-color: $color__text-main;
						color: $color__text-main-inv;
					}
				}
			}
		}

		.categories-contents-wrapper {
			.grid-wrapper {
				display: grid;
				grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));

				@include responsive(tb) {
					grid-template-columns: repeat(2, minmax(320px, 1fr));
				}

				gap: 2rem;
				margin: 0;
				padding: 0;

				.article-grid-1 {
					display: grid;
					// background-color: rebeccapurple;
				}

				.article-grid-2 {
					display: grid;
					gap: 1rem;
					// background-color: red;
				}
			}
		}

		.posts-navigation {
			display: block;
			width: 100%;
		}

		#comments {
			display: none;
		}
	}
}