.widget {
	margin: 0 0 1.5em;

	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}
}

.sns-buttons-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 16px;

	.sns-button {
		width: 24px;
		height: 24px;
	}
}

.breadcrumb {
	margin: 2rem 0 1rem 0;
	font-size: .75rem;
}