// $color__background-body: #F2F2F2;
$color__background-body: #FDFDFD;
$color__background-screen: #FDFDFD;

$color__background-footer: #000000;

$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-main: #333333;
$color__text-sub: #6d6d6d;
$color__text-main-inv: #f2f2f2;

$color__link: $color__text-main;
$color__link-hover: #c5c5c5;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link-visited: #800080; //purple

$color__background-category-label: #484848;
$color__background-category-label-hover: #969696;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
