$size__site-main: 100%;
$size__site-sidebar: 25%;

$breakpoint__tb: 512px;
$breakpoint__pc: 1024px;

$breakpoints : (
    'tb': $breakpoint__tb,
    'pc': $breakpoint__pc
);

$size__header-height-sp: 64px;
$size__header-height-tb: 80px;
$size__header-height-pc: 96px;