.index {
    background: $color__background-body;
    border-top: 1px solid $color__background-hr;
    border-bottom: 1px solid $color__background-hr;
    padding: 1rem 1rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    color: $color__text-sub;

    
    &__title {
        color: $color__text-main;
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
        text-align: center;
        cursor: pointer;
        position: relative;

        &:hover {
            // background-color: aqua;
            transition: $transition-master;
            color: $color__link-hover;
        }
        
        &::after {
            content: "▼";
            font-size: 0.9rem;
            margin-left: 8px;
            display: inline-block;
            // transition: $transition-master;
            // transform: rotate(180deg);
        }
    }

    &--collapsed &__title::after {
        transform: rotate(180deg);
    }

    &__list {
        list-style: none;
        padding-left: 0;
        counter-reset: h2-counter;
        transition: max-height 0.3s ease;
        margin: 0;
    }

    &--collapsed &__list {
        max-height: 0;
        overflow: hidden;
    }

    .index__item {
        margin-bottom: 0.5rem;
        font-size: 1rem;
        line-height: 1.5;
        position: relative;
    }

    // h2 の項目のみ 01, 02, 03... の番号をつけ、padding-left を追加
    > .index__list > .index__item {
        counter-increment: h2-counter;
        padding-left: 2rem; // h2 のみ左余白を追加
        
        a {
            text-decoration: none;
            color: $color__link;
            display: inline-block;
            transition: color 0.3s ease;
            
            &:hover {
                color: $color__link-hover;
            }
        }

        &::before {
            content: counter(h2-counter, decimal-leading-zero) "";
            font-weight: bold;
            position: absolute;
            left: 0;
            color: $color__text-main;
        }
    }

    // h3 以下の項目の前に `-` をつけ、padding-left を 0 にする
    &__list_child {
        list-style: none;
        padding-left: 0;
        margin-top: 0.3rem;

        .index__item {
            padding-left: 0; // h3 以下の目次の左余白を削除

            &::before {
                content: "-";
                color: $color__text-sub;
                font-weight: normal;
                position: relative;
                left: 0;
                padding-right: 0.5rem;
            }
        }
    }
}
